* {
	box-sizing: border-box;
}

.map-responsive{

    overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;

}

.map-responsive iframe{

    left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;

}

#map {

    width: 100%;
	height: 400px;
	background-color: grey;

}


footer {
	padding: 10px;
	border-top: 2px solid #eee;
	background-color: #eee;
}